<div class="code-peg-selection btn-group">
  <a class="btn dropdown-toggle <%= buttonClass %>" data-toggle="dropdown" href="#">
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li data-value="1" class="code-peg btn-primary">&nbsp;</li>
    <li data-value="2" class="code-peg btn-danger">&nbsp;</li>
    <li data-value="3" class="code-peg btn-warning">&nbsp;</li>
    <li data-value="4" class="code-peg btn-success">&nbsp;</li>
    <li data-value="5" class="code-peg btn-info">&nbsp;</li>
    <li data-value="6" class="code-peg btn-inverse">&nbsp;</li>
  </ul>
</div>
